@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

#dashboard {
  display: flex;
}

.dashboard-sidebar {
  width: 20%;
  background: #323232;
  height: 100vh;
}

.dashboard-content-container {
  width: 80%;
  background: #f4f6f9;
}

.dashboard-title {
  font-size: 80px;
  font-weight: bold;
  color: #f685a1;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-sidebar-user {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.dashboard-sidebar-user img {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #f685a1;
  margin-right: 5px;
}

.dashboard-sidebar-user span {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.dashboard-menu-list {
  margin-top: 20px;
}

.dashboard-menu-list li {
  padding: 15px 15px;
  text-transform: uppercase;
}

.dashboard-menu-list li a {
  display: block;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.dashboard-menu-list li:hover {
  background: #f685a1;
  transition: all 0.3s ease;
}

.dashboard-menu-list li.menu-active {
  background: #f685a1;
}

.dashboard-menu-list li a i {
  padding-right: 10px;
  font-size: 25px;
}

.dashboard-content-nav {
  background: #fff;
  padding: 20px;
}

.dashboard-content-nav a {
  font-size: 20px;
  color: #848383;
}

.dashboard-content-nav i {
  padding-right: 10px;
}

#logout-btn {
  float: right;
}

.dashboard-content {
  padding: 50px 10px 10px 10px;
}

.dashboard-content-main {
  background: #fff;
  min-height: 80vh;
  height: 100%;
  left: 50%;
}

.user-add-form-container {
  width: 100%;
  padding: 100px 50px 0 50px;
}

.app-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #cecfd0;
  border-radius: 8px;
  /* position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%); */
  background: #f4f6f9;
}

.app-form-input {
  width: 100%;
  height: 35px;
  border: 1px solid #858486;
  border-radius: 4px;
  padding: 8px;
  color: #848383;
  margin-top: 5px;
}

.app-form-input:focus {
  border: 1px solid #2c2c2c;
}

.app-form-container label {
  font-weight: bold;
  text-transform: uppercase;
}

.app-form-container {
  margin-bottom: 15px;
}

.app-form-btn {
  border: 1px solid #fff;
  background: #f685a1;
  color: #fff;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

p.response-message {
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

p.response-message--error {
  background: rgba(128, 0, 0, 0.1);
}

p.response-message--success {
  background: rgba(0, 128, 0, 0.1);
}

/* User add page */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  width: 100%;
}

.column-5 {
  width: 41.67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.column-title {
  font-size: 21px;
  color: #f685a1;
  border-bottom: 1px solid #ffd7e1;
  border-left: 4px solid #f690bf;
  padding: 10px;
  margin-bottom: 15px;
}

.column-7 {
  width: 58.33%;
  padding-right: 10px;
}

table,
th,
td {
  border: 1px solid #cacaca;
  border-collapse: collapse;
}

table {
  width: 100%;
}

table th {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: #f4f6f9;
}

table td {
  font-size: 13px;
  text-align: center;
  padding: 5px;
}

.user-count {
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f685a1;
}
